{% extends "CovertechdesignAdminBundle::layout.html.twig" %}
{% block titulo %}ABMs <small>varios</small>{% endblock %}
{% block breadcrumb %}<li class="active"><i class="fa fa-dashboard"></i> ABMs</li>{% endblock %}
    {% block content %}


    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-5">
            {% include 'CovertechdesignAdminBundle:Marcas:panel.html.twig' %}
        </div>
        <div class="col-md-5">
            {% include 'CovertechdesignAdminBundle:Materiales:panel.html.twig' %}
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-5">
            {% include 'CovertechdesignAdminBundle:Modelos:panel.html.twig' %}
        </div>
        <div class="col-md-5">
            {% include 'CovertechdesignAdminBundle:Categorias:panel.html.twig' %}
        </div>
        <div class="col-md-1"></div>
    </div>
    <!-- /.row -->



{% endblock %}