{% extends "CovertechdesignAdminBundle::popup.html.twig" %}


{% block content %}

    <div class="panel-body">
        <script type="text/javascript">
            opener.location.reload(true);
            self.close();
        </script>
    </div>
{% endblock %}
